<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-4  col-md-4 col-md-offset-4 col-sm-offset-3  col-sm-6 col-sm-offset-3 col-xs-12 login-border">
      <div class="login-app">
        <img src="http://139.162.63.137:5767/api/Uploads/fileStorage/download/593955606355dc6be8dcd72b" class="image-logo" alt="">
      </div>
      <div>
       
          <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" placeholder="Enter User Name" id="usr">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter Password" id="pwd">
          </div>
          <div class="form-group">
          <!--<button class="btn btn-primary btn-block red-color" >Login</button>-->
          <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block red-color">
    Submit
  </button>
          </div>
      
      </div>
    </div>
  </div>
</div>